<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách các Môn học</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .title {
            background-color: gray;
            color: red;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            padding: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: lightgreen;
        }
    </style>
</head>

<body>
    <div>
        <form action="/" method="POST" id="create" enctype="multipart/form-data">
            <input type="number" name="ma_sp">
            <input type="text" name="ten_sp">
            <input type="number" name="so_luong">
            <input type="submit" value="Submit">
        </form>
    </div>
    <form method="post" action="/delete" enctype="multipart/form-data">
        <div><input type="submit" value="Xoa"></div>
        <div class="title">Danh sách các Môn học</div>
        <table>
            <tr>

                <th>Ma Sp</th>
                <th>Ten Sp</th>
                <th>So Luong</th>
                <th>Chon</th>
            </tr>
            <% for (let i=0; i< dynamoDB.length; i++) { %>
                <tr>
                    <td>
                        <%=dynamoDB[i].ma_sp%>
                    </td>
                    <td>
                        <%=dynamoDB[i].ten_sp%>
                    </td>
                    <td>
                        <%=dynamoDB[i].so_luong%>
                    </td>
                    <td><input type="checkbox" name="<%=dynamoDB[i].ma_sp%>"></td>
                </tr>
                <% } %>
        </table>
    </form>
</body>

</html>